TELEGRAM_BOT_TOKEN=8607077574:AAEZcEpKFT0glpBSHgfkBnpN0gLwFJQ5pL4
TELEGRAM_OWNER_ID=8794813318

WP_BASE_URL=https://medzpalace.com
WP_USER=admin
WP_APP_PASS=qOsk Cx5z aoX3 8UL1 X3wb MnF4

GEMINI_API_KEY=AIzaSyCfq0vZxemrF1ARXfDhsQBynxWdgTAtW0M
GEMINI_MODEL=gemini-2.5-flash

GOOGLE_SHEET_ID=1vSVg_ZeEmF0H6GfFymbyICjDdiZ0HL907xF2P-1Tpq8
